/*
* @Author: Administrator
* @Date:   2017-04-09 18:43:33
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-11 08:57:33
*/
/*
* @Author: Administrator
* @Date:   2017-04-09 18:43:33
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-09 21:01:47
*/
*{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.16rem;
    font-family: "苹方","微软雅黑", "Helvetica";
    color: #999;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body{
	overflow: scroll;
}
a{
	text-decoration: none;
}
/*头部开始  */
.header{
	width: 100%;
	overflow: hidden;
	background: #007be3;
	top: 0;
	left: 0;
    position: absolute;
    z-index: 100000000;	
}
.header-1{
	width: 100%;
	height: 0.89rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.header-1 a{
	width: 20%;
	font-size: 0.32rem;
	text-align: center;
	color: white;
}
.banner{
	background: url(../img/banner1.jpg) center center no-repeat;
	background-size: 100%;
	height: 4.3rem;
	/* margin-top: 0.89rem; */
}
.content{
	width: 100%;
	/* height: 12rem; */
	/* padding-bottom: 0.8rem; */
	background: #F5F5F5;
}
.first{
	padding: 0.2rem 0.2rem ;
	color: black;
	font-size: 0.25rem;
	font-weight: bold;
}
.first .ppp{
    padding-bottom: 0.25rem;
    padding: 0.2rem 0;
    color: #494747;
}
.n1 {
	width: 100%;
    background-color: #ffffff;
    padding: 0.4rem 0.24rem 0.28rem;
    border-bottom: 3px solid #f5f6fa;
    box-sizing: border-box;
}
.lia_teacher{
	
    /*margin-top: 0.5rem;*/
}
.lia_teacher h2{
    font-size: 0.28rem;
    color: #000;
    font-weight: normal;
    margin-bottom: 0.22rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.media_con{
    height: 1.79rem;
    border-bottom: 1px solid #b8b8b8;
}
.media_con .img {
    width: 2.00rem;
    height: 100%;
    float: left;
    position: relative;
}
.media_con .img .ceil {
    width: 1.9rem;
    height: 1.45rem;
    position: absolute;
    background-color: #c8c8c8;
    top: 0.15rem;
    left: -0.1rem;
}
.media_con p{
	display: block;
    float: right;
    width: 4.2rem;
    height: 1.4rem;
    font-size: 0.24rem;
    color: #494747;
    line-height: 0.36rem;
    overflow: hidden;
}
.img .ceil img {
    width: 100%;
    height: 100%;
}
.media_rem {
    height: 0.5rem;
    border-bottom: 1px solid #b8b8b8;
    margin-top: 0.2rem;
}
.media_con .img .floor {
    width: 1.93rem;
    height: 1.45rem;
    background: url(../img/media_line.png) 0 0 no-repeat;
    background-size: cover;
    float: left;
}
.media_rem .time {
    width: 2.1rem;
    float: left;
}
.media a .media_rem .time i {
    background: url(../img/media_icon.png) 0 0 no-repeat;
    background-size: cover;
}
.media_rem div span {
    font-size: 0.2rem;
    float: left;
    margin-top: -0.01rem;
    color: #666;
}
.media_rem .click i {
    background: url(../img/media_icon.png) -0.32rem 0 no-repeat;
    background-size: cover;
}
.media a .media_rem div span {
    font-size: 0.2rem;
    float: left;
    margin-top: -0.01rem;
    color: #666;
}
.media_rem .share {
    width: 2rem;
    float: right;
    overflow: hidden;
}
.media_rem .share i {
    background: url(../img/media_icon.png) -0.7rem 0 no-repeat;
    background-size: cover;
}	
.media_rem div span {
    font-size: 0.2rem;
    float: left;
    margin-top: -0.01rem;
    color: #666;
}
.zhengshikaishi{
	background: #fff;
	height: 0.8rem;
    padding-top: 0.15rem;
    margin-top: 0.3rem;
}
.zhengshikaishi a{
    float: left;
  /*   padding: 0.rem; */
    height: 0.5rem;
    border-radius: 0.4rem;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.5rem;
    margin-right: 0.1rem;
    display: block;
}
.zhengshikaishi .l0{
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 0.6rem;
    background: url(../img/s1.png) 0 0 no-repeat;
    background-size: 100%;
}
.zhengshikaishi .l2 {
    width: 1.48rem;
    background: url(../img/s2.png) 0 0 no-repeat;
    background-size: 100%;
}
.ll {
    border: 1px solid #666;
    letter-spacing: 1px;
    color: #666;
    width: 1.4rem;
    line-height: 0.8rem;
}
.zhengshikaishi .l3{
    width: 1.48rem;
    background: url(../img/s3.png) 0 0 no-repeat;
    background-size: 100%;
}
.zhengshikaishi .l4{
    width: 0.5rem;
    background: url(../img/s4.png) 0 0 no-repeat;
    background-size: 100%;
}
.tea_copyright {
    width: 100%;
    height: 2rem;
    font-size: 0.3rem;
    overflow: hidden;
  /*   background: #F5F6FA;
 */
}
.tea_copyright p{
    color: #666;
    font-size: 0.2rem;
    text-align: center;
    box-sizing: border-box;

}
.tea_copyright .p33 {
    color: #666;
    font-size: 0.2rem;
    text-align: center;   
    display: block;
}
.contact{
    width: 100%;
    height: 0.9rem;
    box-sizing: border-box;
    background-color: #F5F6FA;
    margin-top: 0.2rem;
   position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 0.08rem rgba(0,0,0,0.1);
    z-index: 9999999999;
}
.contact .contact-list{
    width: 100%;
    height: 100%;
    background: #e7e7e7;
}
.contact a{
    width: 30%;
    height: 0.8rem;
    float: left;
}
.contact a div{
    width: 100%;
    height: 100%;
    font-size: 0.24rem;
    color: #000;
    text-align: left;
    line-height: 0.9rem;
    background: #e7e7e7;
}
.contact a div.part1 i{
    background: url(../img/qq.png) 0 0 no-repeat;
    background-size: 100%;
}
.contact a div i{
    width: 0.32rem;
    height: 0.32rem;
   background: url(../img/shouye6.png) -1.6rem -4.4rem no-repeat; *
    background-size: 2rem;
    float: left;
    line-height: 0.9rem;
    margin-top: 0.28rem;
    margin-left: 0.27rem;
}
.contact a div span{
    float: left;
    font-size: 0.26rem;
    margin-left: 0.1rem;
}
.contact .phone{
    width: 40%;
    height: 0.9rem;
    position: relative;
    z-index: 9999999999;
    box-shadow: 0 0 0.08rem rgba(255,126,0,0.1);
    margin-top: -0.1rem;
}
.contact a .part2{
    background-color: #ff8d12;
    border-radius: 0.08rem;
    color: #fff;
    text-align: center;
    box-shadow: 0px 0px 0.15rem #ff8d12;
}
.contact a .part2 i{
    width: 0.36rem;
    height: 0.36rem;
    background: url(../img/shouye6.png) -1.6rem -4.78rem no-repeat;
    background-size: 2rem;
    display: inline-block;
    line-height: 0.9rem;
    margin-left: 0.45rem;
}
.contact a .part2 span{
    float: left;
    font-size: 0.3rem;
    font-weight: bold;
    color: white;
}
.contact a .part3{
    text-align: right;
    position: relative;
}
.contact a .part3 i{
    width: 0.36rem;
    height: 0.36rem;
    background: url(../img/shouye6.png) -1.6rem -5.3rem no-repeat;
    background-size: 2rem;
    display: inline-block;
    /* margin-left: 0.42rem; */
}
.contact a .part3 span{
    float: left;
    margin-left: 0.1rem;
}